<!DOCTYPE html>
<html>
  <head>
    <title>Focus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag asset_url('css/app.css'), media: 'all' %>
  </head>

  <body>
    <v-app id="app">
      <%= yield %>
    </v-app>
    <%= javascript_include_tag asset_url('js/app.js') %>
  </body>
</html>
